/*
*****************************
FONTS
****************************
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;   
}

/*
*****************************
VARIABLES
****************************
*/

:root{
  --sunset-orange:#ff6900;
  --sunset-pink:#eb144c;
  --sand-light-brown:#f3cc91;
  --sand-dark-brown:#eab875;
  --sand-medium-brown:#e1c7a5;
  --water-light-blue:#d3e3e2;
  --water-dark-blue:#7bc5c1;
}

/*
*****************************
WHALE ANIMATION
****************************
*/

@keyframes swimForward {
  0% {
    right: -50%;
  }
  100% {
    right: 150%;
  }
}

@keyframes tailWave {
  0% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(15deg);
  }
}

.whale-wrapper {
  position: fixed;
  top: 60%;
  right: 0;
  height: 500px;
  width: 100%;
}

.whale {
  position: absolute;
  width: 400px;
  animation-name: swimForward;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.whale-cls-1.tail {
  transform-origin: 60% 50%;
  animation-name: tailWave;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/*
*****************************
ABOUT SECTION
****************************
*/

#about-section{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.section-container{
  width:90vw;
  border-radius:10px;
  height:80vh;
  background-color:var(--sand-light-brown);
}
.parttwo{
  margin-top: 100px;
}

.beach-ball-svg{
  width:164px;
  height:164px;
  position:absolute;
  left:1320px;
  top:370px;
}

.section-one-ball{
  top: 1000px;
}
.section-two-ball{
  top: 1600px;
}

/*
https://res.cloudinary.com/pooja-gera/video/upload/v1655019937/compressed_bg_vid_jiqeys.mp4
  <video autoplay muted loop audio="muted" id="myVideo">
      <source
        src="https://res.cloudinary.com/pooja-gera/video/upload/v1655019937/compressed_bg_vid_jiqeys.mp4"
        type="video/mp4"
      />
    </video>
/*
*****************************
NAVIGATION BAR
****************************
*/

#navbar{
  background-color: #2179EA;
  margin:0;
  width:100vw;
  z-index:1000;
  color:white;
}

ul{
    list-style:none;
    display:flex;
    justify-content: center;
    align-items:center;
}

li{
    padding:20px;
    margin-right:20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .page-content {
  padding-top: 60px;
}
#navbar a{
  text-decoration:none;
  color:white;
}

#navbar a:hover{
  cursor:pointer;
  font-size:large;
  transition: 0.2s ease-in-out;
}

/*
*****************************
FOOTER ICONS
****************************
*/

#footer{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.footer-wrapper {
  display: inline-flex;
  list-style: none;
}

.footer-wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-wrapper .icon:hover span,
.footer-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer-wrapper .facebook:hover,
.footer-wrapper .facebook:hover .tooltip,
.footer-wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.footer-wrapper .twitter:hover,
.footer-wrapper .twitter:hover .tooltip,
.footer-wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.footer-wrapper .instagram:hover,
.footer-wrapper .instagram:hover .tooltip,
.footer-wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.footer-wrapper .github:hover,
.footer-wrapper .github:hover .tooltip,
.footer-wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.footer-wrapper .youtube:hover,
.footer-wrapper .youtube:hover .tooltip,
.footer-wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}



/*
*****************************
HERO SECTION
****************************
*/

#hero-section{
  display:flex;
  align-items:center;
  justify-content:center;
}

section{
  margin-bottom:100px;
}

.hero-section-container{
  width:90vw;
  border-radius:10px;
  height:80vh;
  background-image: url("./images/sand-texture-top-view-2021-08-28-02-01-21-utc.jpg");
  background-size: cover;
  background-color:var(--sand-light-brown);
  display:flex;
  align-items:center;
  justify-content:flex-start;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-4;
}


/*
*****************************
HERO SECTION ANIMATION
****************************
*/

.hero-window {
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid #95d8de;
  animation: anim-sky 10s linear infinite;
  position: absolute;
  left: 300px;
  top: 300px;

}
.hero-sun {
  position: absolute;
  width: 55.55px;
  height: 55.55px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff 0%, yellow 10%, #fdfbb8 70%);
  left: calc(50% - 50px);
  top: 15px;
  transform-origin: 50% 240px;
  animation: anim-sun 10s linear infinite;
}
.hero-wave {
  position: absolute;
  width: 100%;
  height: 140.22px;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle farthest-corner at 50% 0%, transparent 30%, #2179ea 30%, #2179ea 45%, #1d86ea 45%, #1d86ea 60%, #2a9eea 60%, #2a9eea 75%, #02b0ea 75%);
  animation: anim-h-wave 4s linear infinite, anim-v-wave 2s infinite alternate;
}
.hero-island {
  width: 133.33px;
  height: 66.67px;
  position: absolute;
  bottom: 50px;
  left: 120px;
  background: #f4d86f;
  border-radius: 120px 120px 0 0;
  animation: anim-island 10s linear infinite;
}
.hero-tree {
  position: absolute;
  border: 5px solid transparent;
  border-left: 15px solid #9f5628;
  border-bottom: 25px solid transparent;
  width: 90px;
  height: 200px;
  left: 70px;
  top: -50px;
  border-radius: 50%;
  transform: rotate(18deg);
}
.hero-tree:before {
  content: '';
  position: absolute;
  width: 12px;
  background: #6f3b16;
  height: 2px;
  bottom: 15px;
  left: -7px;
  box-shadow: 0 -8px 0 0 #6f3b16, 0 -16px 0 0 #6f3b16, 0 -24px 0 0 #6f3b16, 2px -32px 0 0 #6f3b16, 4px -40px 0 0 #6f3b16, 6px -48px 0 0 #6f3b16, 8px -56px 0 0 #6f3b16, 10px -64px 0 0 #6f3b16, 12px -72px 0 0 #6f3b16, 16px -80px 0 0 #6f3b16, 20px -88px 0 0 #6f3b16, 24px -96px 0 0 #6f3b16, 28px -104px 0 0 #6f3b16, 32px -112px 0 0 #6f3b16, 40px -120px 0 0 #6f3b16, 46px -128px 0 0 #6f3b16;
  transform: rotate(-18deg);
}
.hero-leaf {
  position: absolute;
  top: -55px;
  left: -22px;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  border-left: 5px solid #349838;
  box-shadow: -5px 0 0 0 #3eb93f, inset 10px 0 0 0 #349838;
  transform-origin: 50% 100%;
}
.hero-leaf-1 {
  transform: rotate(-150deg) scaleX(-1);
  z-index: 5;
  animation: anim-leaf- 1-move 3s infinite;
}
.hero-left{
 height: 100%;
 width: 20%;
}
.hero-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.hero-right h1{
  position: absolute;
  left: 600px;
  top: 200px;
}
.hero-right p{
  position: absolute;
  top: 240px;
  left: 600px;
  
}
.hero-right .para{
  position: absolute;
    top: 280px;
    width: 40%;
}
.section-one-window{
  top: 900px;
}
.section-two-window{
  top: 1570px;
}
.upload{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.upload .button, .upload .predict-two{
  height: 50px;
width: 150px;
font-size: 15px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
background-color: #2179EA;
/* box-shadow: 5px 10px 20px #66bb6a79; */
color: white;
cursor: pointer;
margin: 0px 15px;
border: none;
}
.upload-one{
  position: absolute;
  top: 920px;
  left: -85px;
}
.upload-two{
  display: block;
  position: absolute;
  top: 1600px;
  left: 580px;
}
.upload-two h2{
  position: absolute;
  left: 23px;
}
.upload-one .button{
  
}
.info-one{
  height: 100%;
  width: 45%;
  position: absolute;
  top: 850px;
  left: 600px;
}
.info-two{
  height: 100%;
  width: 45%;
  position: absolute;
  top: 1500px;
  left: 600px;
}
.info-one p{
  margin-top: 15px;
}
.info-two p{
  margin-top: 15px;
}
@keyframes anim-leaf-1-move {
  0%, 100% {
    transform: rotate(-150deg) scaleX(-1);
 }
  50% {
    transform: rotate(-155deg) scaleX(-1);
 }
}
.hero-leaf-2 {
  transform: rotate(-120deg) scaleX(-1);
  z-index: 4;
  animation: anim-leaf- 2-move 3s infinite;
}
@keyframes anim-leaf-2-move {
  0%, 100% {
    transform: rotate(-120deg) scaleX(-1);
 }
  50% {
    transform: rotate(-124deg) scaleX(-1);
 }
}
.hero-leaf-3 {
  transform: rotate(-90deg) scaleX(-1);
  z-index: 3;
  animation: anim-leaf- 3-move 3s infinite;
}
@keyframes anim-leaf-3-move {
  0%, 100% {
    transform: rotate(-90deg) scaleX(-1);
 }
  50% {
    transform: rotate(-93deg) scaleX(-1);
 }
}
.hero-leaf-4 {
  transform: rotate(-60deg) scaleX(-1);
  z-index: 2;
  animation: anim-leaf- 4-move 3s infinite;
}
@keyframes anim-leaf-4-move {
  0%, 100% {
    transform: rotate(-60deg) scaleX(-1);
 }
  50% {
    transform: rotate(-62deg) scaleX(-1);
 }
}
.hero-leaf-5 {
  transform: rotate(-30deg) scaleX(-1);
  z-index: 1;
  animation: anim-leaf- 5-move 3s infinite;
}
@keyframes anim-leaf-5-move {
  0%, 100% {
    transform: rotate(-30deg) scaleX(-1);
 }
  50% {
    transform: rotate(-31deg) scaleX(-1);
 }
}
.hero-leaf-6 {
  transform: rotate(30deg) scaleX(1);
  z-index: 1;
  animation: anim-leaf- 6-move 3s infinite;
}
@keyframes anim-leaf-6-move {
  0%, 100% {
    transform: rotate(30deg) scaleX(1);
 }
  50% {
    transform: rotate(31deg) scaleX(1);
 }
}
.hero-leaf-7 {
  transform: rotate(60deg) scaleX(1);
  z-index: 2;
  animation: anim-leaf- 7-move 3s infinite;
}
@keyframes anim-leaf-7-move {
  0%, 100% {
    transform: rotate(60deg) scaleX(1);
 }
  50% {
    transform: rotate(62deg) scaleX(1);
 }
}
.hero-leaf-8 {
  transform: rotate(90deg) scaleX(1);
  z-index: 3;
  animation: anim-leaf- 8-move 3s infinite;
}
@keyframes anim-leaf-8-move {
  0%, 100% {
    transform: rotate(90deg) scaleX(1);
 }
  50% {
    transform: rotate(93deg) scaleX(1);
 }
}
.hero-leaf-9 {
  transform: rotate(120deg) scaleX(1);
  z-index: 4;
  animation: anim-leaf- 9-move 3s infinite;
}
@keyframes anim-leaf-9-move {
  0%, 100% {
    transform: rotate(120deg) scaleX(1);
 }
  50% {
    transform: rotate(124deg) scaleX(1);
 }
}
.hero-leaf-10 {
  transform: rotate(150deg) scaleX(1);
  z-index: 5;
  animation: anim-leaf- 10-move 3s infinite;
}
@keyframes anim-leaf-10-move {
  0%, 100% {
    transform: rotate(150deg) scaleX(1);
 }
  50% {
    transform: rotate(155deg) scaleX(1);
 }
}
@keyframes anim-sky {
  0%, 100% {
    background: rgba(0, 0, 0, 0.35);
 }
  5%, 95% {
    background: rgba(45, 136, 224, 0.35);
 }
  10%, 20%, 80%, 90% {
    background: #c5e7f1;
 }
  40%, 60% {
    background: #bff1ee;
 }
  50% {
    background: #b4fffe;
 }
}
@keyframes anim-sun {
  0% {
    transform: rotate(-150deg);
    box-shadow: 0 0 75px 30px rgba(253, 251, 184, 0.5);
 }
  10%, 90% {
    box-shadow: 0 0 125px 50px rgba(253, 251, 184, 0.65);
 }
  25%, 75% {
    box-shadow: 0 0 325px 125px rgba(253, 251, 184, 0.85);
 }
  50% {
    box-shadow: 0 0 400px 130px rgba(253, 251, 184, 0.85);
 }
  100% {
    transform: rotate(150deg);
    box-shadow: 0 0 75px 20px rgba(253, 251, 184, 0.5);
 }
}
@keyframes anim-island {
  0%, 100% {
    background: #deb210;
 }
  10%, 90% {
    background: #f4d86f;
 }
}
@keyframes anim-h-wave {
  0% {
    background-position: -100px 0;
 }
  100% {
    background-position: 100px 0;
 }
}
@keyframes anim-v-wave {
  0% {
    background-size: 100px 220px;
 }
  100% {
    background-size: 100px 270px;
 }
}
@media (max-width: 800px) {
  .hero-window {
    transform: translate(-50%, -50%) scale(0.75);
 }
}
@media (max-width: 360px) {
  .hero-window {
    transform: translate(-50%, -50%) scale(0.5);
 }
}
@media (min-width: 1920px) {
  .hero-window {
    transform: translate(-50%, -50%) scale(1.5);
 }
}

/*
*******************************
BEACH SCENE
*******************************
*/

.beach-roadtrip {
  width: 100vw;
  height: 100vh;
  position:absolute;
  top:0px;
}
.st4 {
  fill: #486b5c;
}
.st5 {
  opacity: 0.55;
  fill: #e6d3b0;
}
.st6 {
  fill: #e9f4f2;
}
.st10 {
  fill: #070707;
}
.st11 {
  opacity: 0.05;
}
.st12,
.st13 {
  fill: #58ac9d;
}
.st13 {
  stroke: #b7eae0;
  stroke-width: 11;
  stroke-miterlimit: 10;
}
.st14 {
  opacity: 0.14;
  fill: #379;
}
.st15 {
  fill: #4c3d38;
}
.st16 {
  opacity: 0.2;
}
.st17,
.st18 {
  fill: #63524e;
}
.st18 {
  opacity: 0.1;
}
.st19 {
  fill: #594842;
}
.st21 {
  fill: #c1272d;
}
.st22 {
  fill: #f9f9f9;
}
.st25 {
  opacity: 0.89;
}
.st26,
.st28 {
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st28 {
  stroke: #ededed;
  stroke-width: 10;
}
.st29 {
  fill: #fff;
}
.st30 {
  fill: #595959;
}
.st33 {
  opacity: 0.1;
}
.st34 {
  opacity: 0.28;
  fill: none;
  stroke: #000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st42 {
  fill: #f7f3e8;
}
.st43 {
  opacity: 0.09;
  fill: #1e1e1e;
}
.st46 {
  fill: none;
  stroke: #2d2824;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st47 {
  fill: #785c47;
}

/*second container ki image*/
.display-img-2{
  height: 400px;
  width: 400px;
  position: absolute;
  top: 750px;
  left: 150px;
}

/*third container ki image*/
.display-img-3{
  height: 400px;
  width: 400px;
  position: absolute;
  top: 1390px;
  left: 150px;
}

h1{
  color:var(--sunset-orange);
}

body{
  overflow-x: hidden;
}

/*
**********************
INFINITE SCROLLING
***********************
*/

.infinite-scroll {
  position: relative;
  width: 100%;
}
.infinite-scroll .scroll {
  width: 100%;
  display: flex;
}
.infinite-scroll .scroll div {
  background-color: #fff;
  color: #000;
  font-size: 4em;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}
.infinite-scroll .scroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}
.infinite-scroll .scroll div span {
  -webkit-text-stroke: 2px #000;
  color: transparent;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.infinite-scroll .scroll.text1 {
  transform: rotate(30deg) translateY(200px) translateX(200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.infinite-scroll .scroll.text2 {
  transform: rotate(-25deg) translateY(120px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.infinite-scroll .scroll.text3 {
  transform: rotate(25deg) translateY(300px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.infinite-scroll .scroll.text4 {
  transform: rotate(-2deg) translateY(-150px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.infinite-scroll .scroll.text5 {
  transform: rotate(5deg) translateY(250px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}